.main-container-section{
    background-color: $background-sec-nav;
}
.main-container{
    width: 100%;
    height: 100vh;
}
.main-container-wrapper{
    h1{
        font-family: "ADLaM Display";
        font-size: 68px;
        color: $color-nav;
        margin-top: 100px;
    }
}